<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot = "start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CambioCredenziali.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="changeCredentialsForm">
    <div *ngIf=" changeId  == 'change_username'" class="buttons">
      <ion-item>
        <ion-input
        placeholder="{{'CambioCredenziali.name' | translate}}"
        formControlName="name"
        clearInput="true"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
        placeholder="{{'CambioCredenziali.surname' | translate}}"
        formControlName="surname"
        clearInput="true"></ion-input>
      </ion-item>

      <ion-button (click)="changeCredentials()" expand="full" fill="outline" shape="round">{{'CambioCredenziali.User' | translate}}</ion-button>

    </div>

    <div *ngIf="changeId == 'change_email'" class="buttons">
      <ion-item>
        <ion-input
        placeholder="{{'CambioCredenziali.email' | translate}}"
        formControlName="email"
        clearInput="true"></ion-input>
      </ion-item>

      <ion-button (click)="changeCredentials()" expand="full" fill="outline" shape="round">{{'CambioCredenziali.Email' | translate}}</ion-button>

    </div>

    <div *ngIf="changeId == 'change_password'" class="buttons">
      <ion-item>
        <ion-input
        placeholder="{{'CambioCredenziali.password' | translate}}"
        formControlName="password"
        type="password"
        clearInput="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
        placeholder="{{'CambioCredenziali.confPassword' | translate}}"
        formControlName="cpassword"
        type="password"
        clearInput="true"></ion-input>
      </ion-item>

      <ion-button (click)="changeCredentials()" expand="full" fill="outline" shape="round">{{'CambioCredenziali.Password' | translate}}</ion-button>

    </div>

    <div *ngIf="changeId == 'reauth'" class="buttons">
      <ion-item>
        <ion-input
          placeholder="{{'Login.Email' | translate}}"
          formControlName="reemail"
          clearInput="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
        placeholder="{{'Login.Password' | translate}}"
        type="password"
        formControlName="repassword"
        clearInput="true"></ion-input>
      </ion-item>

      <ion-button (click)="changeCredentials()" expand="full" fill="outline" shape="round">{{'CambioCredenziali.Riautenticati' | translate}}</ion-button>

    </div>
  </form>



</ion-content>
