<ion-header>
  <ion-toolbar color="primary">
    <ion-title><b>Home</b></ion-title>
    <ion-button [routerLink]="['/settings']" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="settings" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card [routerLink]="['./', news.id]" *ngFor="let news of newses">
      <ion-card-header>
        <ion-img [src]="news.img" ></ion-img>
        <ion-card-subtitle>{{news?.data.toDate().getDate()}} / {{news?.data.toDate().getMonth()}} / {{news?.data.toDate().getFullYear()}}</ion-card-subtitle>
        <ion-card-title ><b>{{news?.titolo}}</b></ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
