<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'Tabs.home' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="earth-outline"></ion-icon>
      <ion-label>{{'Tabs.mappe' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="busList">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>{{'Tabs.bus' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{'Tabs.account' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
