<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot = "start">
      <ion-back-button defaultHref="/tabs/busList"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ loadedBus$?.nome }}</ion-title>
    <ion-button (click)="addToPreferences(loadedBus$)" slot="end" color="light"><ion-icon name="star-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ng-container *ngFor=" let Stop of LoadedStop; index as i">
      <ion-card-header>
        <ion-item>
          <ion-icon name="bus-outline" slot="start"></ion-icon>
          <ion-label>{{ Stop }}</ion-label>
        </ion-item>
      <ion-label>Orari:</ion-label>
      </ion-card-header>
    <ion-card-content>
      {{ LoadedTimeTable[i] }}
    </ion-card-content>
    </ng-container>
  </ion-card>

</ion-content>
