<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot = "start">
      <ion-back-button defaultHref="/tabs/account"></ion-back-button>
    </ion-buttons>

    <ion-title slot="start"><b>Settings</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <div class="buttons">
      <ion-button size='large' fill="outline" shape="round" expand="full" (click)="signOut()">{{'Settings.logOut' | translate}}</ion-button>
      <ion-button size='large' fill="outline" shape="round" expand="full" (click)="presentActionSheetChangeCred()">{{'Settings.Credenziali' | translate}}</ion-button>
      <ion-button size='large' fill="outline" shape="round" (click)="presentActionSheet()" expand="full">{{'Settings.Lingua' | translate}}</ion-button>
      </div>
    </ion-label>
  </ion-item>
</ion-content>
